.tour-home {
    max-width: 77.6%;
    min-height: 700px;
    margin: auto;
    top: 90px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-left: 142px;
    // margin-right: 141px;

    .tour-hero {
        width: 100%;
        height: 200px;
        background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/tour/tours-header.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        h1 {
            font-size: 60px;
            font-family: proxima;
            color: #fff;
        }
    }

    .tour-banners {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1020px){
    .tour-home {

        .tour-hero {
            margin-left: 142px;
            margin-right: 141px;
        }
    }
    
}